* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}


.navbar {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-items {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;

}
.nav-link:hover {
    color: rgb(233, 230, 230);
}

i {
    transition-duration: 1s;
}

i:hover {
    transform: scale(1.5) rotate(720deg);
    cursor: pointer;
}


.video-container {
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .content {
    /* text-align: center; */
/* } */ 
.h1{
    /* text-align: center; */
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
    color: white;
}

.b {
    text-align: center;
}

.a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.a:hover {
    background-color: white;
    color: rgb(26, 25, 25);
    
}
.a:active {
    margin-left: 0.5rem;
    
}

.background-video {
    z-index: -100;
    position: absolute;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
}

@media (min-aspect-ratio:16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}

.tool-container {
    width: 100%;
    height: 60vh;
    background-color:black; 
    display: flex;
    justify-content: center;
    align-items:normal;
    background-image: url(back_img.jpg);
    background-size: cover;
}

.content-container {
    background-color: black;
    width: 100%;
    height: 60%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

form {
    width: 45rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
label {
    display:block;
    font-style: italic;
    color: white;
    font-size: 1.2rem;
}
textarea::placeholder {
    padding-left: 30px;
    font-size: 1.2rem;
    color: rgb(26, 25, 25);
}
textarea {
    border: 2px solid white;
    border-radius: 15px;
    resize: none;
    background-color: rgb(228, 230, 233);
    padding-left: 10px;
}

.submit-button {
    height: 2.5rem;
    width:10rem;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
    color: black;
}
.submit-button:hover {
    /* background-color: rgb(228, 230, 233); */
    cursor: pointer;
    /* font-size: 0.9rem; */
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}


.calculations {
    
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-calc {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    background-color: white;
    width: 95%;
   
    justify-content: space-evenly;
    justify-items: center;
    border-radius: 2rem;
    color: #485676;
}


.transition-block {
    background-image: url(back_img.jpg);
    background-size: cover;
    z-index: -100;
}


.para-heading {
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.blue-border {
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    border: 1px solid #485676;
    display:flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    border-radius: 2%;
    border-width: 2px;
}

.show-math {
    align-self: center;
    width: 55%;
    height: 80%;
    line-height: 1.5rem;
 
}

.show-math a {
    text-align: center;
}
.show-freq {
    padding-top: 2rem;
    width: 20%;

}

.show-code {
    padding-top: 2rem;
    width: 20%;
}

.table-heading {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bold;

}

.table {
    border: 2px  #485676;
}
.b-l {
    
    border-top-left-radius: 0.8rem;
}
.b-r {
    border-top-right-radius: 0.8rem;
}

.bb {
    background-color: #485676;
    color: white;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.download-button {
    border: 2px solid #485676;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    text-decoration: none;
}

.download-button:hover {
    background-color: black;
    color: rgb(198, 198, 5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}


.theory-outer-box {
    width: 100%;
    background-color: black;
    display:flex;
    justify-content: center;
    padding-bottom: 7rem;
}

.theory {
   
    width: 60%;
    padding-top: 5rem;
    background-color: black;
    color: white;
    line-height: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.ex-table {
    margin-top: 2rem;
    display: flex;
    justify-content:center;
    margin-bottom:2rem;
}

.kk:hover {
    color: rgb(198, 198, 5);
}

.try-it-out {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8rem;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.try-it-out:hover {
    background-color: white;
    color: rgb(26, 25, 25);
    
}

.section {
    margin-top:5rem;
    display:flex;
    justify-content: space-between;
    text-align: justify;
    
}
.sec-block {
    width: 45%;


}

.photo-outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.huffman-photo {
    margin-top: 1rem;
    width: 40%;
    height:8rem;
    background-image: url(hyffman.jpg);
    background-size: cover;
    margin-bottom: 1rem;
    border-radius: 50%;

}
.graph {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url(graph.png);
    background-size: cover;
    width: 100%;
    height: 15rem;
}
  
 .partition {
    width: 100%;
    height: 10rem;
    background-color: black;
    background-image: url(partition.avif);
    background-size: cover;
 }

 .end-block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
 }
 .about-this-site {
    padding-top: 1rem;
    align-self: center;
    display: flex;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 3rem;
    background-color: black;
    color:white;
 }
 .about {
    text-align: justify;
    line-height: 1.4rem;
 }

 .last-partition {
    width: 100%;
    height: 0.5rem;
    background-image: url(last_partition.jpg);
    background-size: cover;
 }
 .references {
    padding-top: 2rem;
    align-self: center;
    width: 50%;
    text-align: justify;
    color:white;
    padding-bottom: 3rem;
 }

 .about-the-author {
    padding-top:5rem;
    align-self: center;
    color: white;
 }

 .linkedin {
    background-image: url(linkedin.svg);
    background-size: cover;
    width: 2rem;
    height: 2rem;
    margin-right: 5%;
 }

 .github {
    background-image: url(github.png);
    background-size: cover;
    width: 2rem;
    height: 2rem;
    margin-left:5%;
 }